# Prerequisites
*.d
*.pyc

# Virtual environments
venv/
env/
.env

# Database files
*.db
*.sqlite3

# Python caches
__pycache__/
.pytest_cache/
.coverage
htmlcov/

# Node/Frontend
node_modules/
dist/
build/
.npm
package-lock.json

# IDEs and OS specific
.vscode/
.idea/
.DS_Store
Thumbs.db

# Misc logs
*.log
